/* css */
html,
body,
main,
#map-container,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map-container {
    width: 60%;
    height: 60%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.esriAttribution {
    display: none;
}

.chart-title {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: flex-start;
}

h2 {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

.table {
    margin: auto;
}

.dropdown-trigger .button {
    border: 0px solid white;
}

:root {
    --custom-font: 'Hind Madurai', sans-serif;
}

* {
    font-family: var(--custom-font);
}

td.song-link {
width: 50px;

}

.hover-effect:hover {
    background-color: #898989;
    color: whitesmoke;
}

.hover-effect:hover img {
    filter: invert(1);
}

.dropdown {
    margin-left: 12px;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    width: 100vw; /* need to classify width to stop bulma responsiveness from breaking the flex */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px 0px 0px;
}

.text {
    margin: 2px 0px 0px 12px;
}

td {
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    overflow: scroll;
    text-overflow:initial;
}

@media (max-width: 575px) {
    .text {
        display: none;
    }
    #map-container {
        width: 90%;
        height: 40%;
    }
}
