/* map css */
html,
body,
main,
#map-container,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map-container {
    width: 60%;
    height: 60%;
    margin-top: 20px;
}

.esriAttribution {
    display: none;
}
/*  */

.chart-title {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.control {
    padding-top: 12px;
}

.table {
    margin: auto;
}

:root {
    --custom-font: 'Hind Madurai', sans-serif;
}

* {
    font-family: var(--custom-font);
}

.dropdown {
    margin-left: 12px;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
    width: 100vw; /* need to classify width to stop bulma responsiveness from breaking the flex */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 12px;
}

.text {
    margin: 2px 0px 0px 12px;
}

@media (max-width: 575px) {
    .text {
        display: none;
    }
    #map-container {
        width: 90%;
        height: 40%;
    }
}